<% layout('layout/template.ejs') %>
<h1 class="text-center mb-3" style="color: white ;" >E-Routing Slip</h1>
<div class="d-flex justify-content-center">
  <div class="card m-3" style="width: 18rem">
    <img src="https://img.freepik.com/free-vector/dashboard-concept-illustration_114360-1447.jpg?w=1380&t=st=1663088005~exp=1663088605~hmac=f4f0a308211a4236af860201d58b7ba6a52da864e3b18bce844659a2b4719866" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="/input" class="btn btn-primary">Input</a>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem">
    <img src="https://img.freepik.com/free-vector/dashboard-concept-illustration_114360-1447.jpg?w=1380&t=st=1663088005~exp=1663088605~hmac=f4f0a308211a4236af860201d58b7ba6a52da864e3b18bce844659a2b4719866" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="/monitoring" class="btn btn-warning">Monitoring</a>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem">
    <img src="https://img.freepik.com/free-vector/dashboard-concept-illustration_114360-1447.jpg?w=1380&t=st=1663088005~exp=1663088605~hmac=f4f0a308211a4236af860201d58b7ba6a52da864e3b18bce844659a2b4719866" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="" class="btn btn-success">Verifikasi</a>
    </div>
  </div>
</div>
