<% layout('layout/template.ejs') %>
    <h1>Hello Ines</h1>
    <a href="/input" class="btn btn-primary">Input</a>
    <a href="" class="btn btn-primary">Monitoring</a>
    <a href="" class="btn btn-primary">Verifikasi</a>