<% layout('layout/template.ejs') %>
<h1 class="text-center mb-3" style="color: white ;" >Menu Input</h1>

<div class="d-flex justify-content-center">
    <div class="card m-3" style="width: 18rem">
        <img
          src="https://img.freepik.com/free-vector/employees-cv-candidates-resume-corporate-workers-students-id-isolate-flat-design-element-job-applications-avatars-personal-information-concept-illustration_335657-1661.jpg?w=740&t=st=1666793003~exp=1666793603~hmac=38b81dd041ae27e0bd44e1efb1f7a9ae62bbd8fd3dd28dc5d8799759ecd0c2de"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Verifikasi SPBy</h5>
          <p class="card-text">
            Menu untuk melakukan verifikasi kelenhgkapan dokumen Spby.
          </p>
          <a href="/input/gup-tunai" class="btn btn-warning" style="width: 15.8775rem">SPBy</a>
        </div>
      </div>
      <div class="card m-3" style="width: 18rem">
        <img
          src="https://img.freepik.com/free-vector/signing-contract-official-document-agreement-deal-commitment-businessmen-cartoon-characters-shaking-hands-legal-contract-with-signature-concept-illustration_335657-2040.jpg?w=740&t=st=1666792880~exp=1666793480~hmac=5aa260b477e9579a8875d29273e4d4015b3330deb6c76fe3e05033873d496fa0"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Daftar PPK</h5>
          <p class="card-text">
            Menu untuk input dan update data Pejabat Pembuat Komitmen.
          </p>
          <a href="/input/daftar-ppk" class="btn btn-warning" style="width: 15.8775rem">PPK</a>
        </div>
      </div>
      <div class="card m-3" style="width: 18rem">
        <img
          src="https://img.freepik.com/free-vector/documentation-management-colorful-icon-female-cartoon-character-putting-document-big-yellow-folder-files-storage-sorting-organization_335657-846.jpg?w=740&t=st=1666793144~exp=1666793744~hmac=5851083d885e5fc52ce4482ffcafb5c2605add6e94d9ee4af2aeabee1a4759a8"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Jenis SPBy</h5>
          <p class="card-text">
            Menu untuk input dan update data jenis Spby.
          </p>
          <a href="/input/jenis-spby" class="btn btn-warning" style="width: 15.8775rem">Jenis</a>
        </div>
      </div>
      <!-- <div class="card m-3" style="width: 18rem">
        <img
          src="https://img.freepik.com/free-vector/dashboard-concept-illustration_114360-1447.jpg?w=1380&t=st=1663088005~exp=1663088605~hmac=f4f0a308211a4236af860201d58b7ba6a52da864e3b18bce844659a2b4719866"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of
            the card's content.
          </p>
          <a href="/gup-tunai/update/" class="btn btn-danger">Update SPBy</a>
        </div>
      </div> -->
</div>

