<% layout('layout/template.ejs') %>
    <h1>Input</h1>
    <a href="/input/gup-tunai" class="btn btn-primary">GUP Tunai</a>
    <a href="/input/gup-kkp" class="btn btn-danger">GUP KKP</a>
    <a href="/input/update-spby" class="btn btn-danger">Update SPBy</a>
    <a href="/input/daftar-ppk" class="btn btn-primary">Update Data PPK</a>
    <a href="/input/jenis-spby" class="btn btn-primary">Input Jenis SPBy</a>